<form action="<%= directory.route %>" method="post" enctype="multipart/form-data">
	<input type="file" name="file" required="required" />
	<button type="submit">Upload</button>
</form>

<form action="<%= directory.route %>" method="post">
	<input type="text" name="folder" required="required" />
	<button type="submit">Create folder</button>
</form>

<ul>
	<% directory.files.each do |file| %>
		<li>
			<a href="<%= file.route %>"><%= file.name %></a>
			<% unless file.directory? %>
				<form action="<%= file.route %>" method="post">
					<input type="hidden" name="_method" value="DELETE" />
					<button type="submit">Delete</button>
				</form>
			<% end %>

			<% unless file.name == ".." %>
				<form action="<%= file.route %>" method="post">
					<input type="hidden" name="_method" value="PUT" />
					<input type="text" name="name" value="<%= file.name %>" />
					<button type="submit">Rename</button>
				</form>
			<% end %>
		</li>
	<% end %>
</ul>
