<h1><%= site.fn %></h1>

<form method="post" action="<%= site.route("build") %>">
	<button type="submit">Sync &amp; Build</button>
</form>

<% unless ENV["SITE_PATH"] %>
	<form method="post" action="<%= site.route %>">
		<input type="hidden" name="_method" value="DELETE" />
		<button type="submit">Delete this site</button>
	</form>
<% end %>

<nav>
	<% if site.cloned? %>
		<ul>
			<li><a href="<%= site.route("files") %>">Edit Files</a></li>
		</ul>
	<% elsif site.status == "failed" %>
		<p class="error">We were unable to clone your site. Please make sure the repository exists.</p>
	<% else %>
		<p>Please wait, we are syncing your remote...</p>
	<% end %>
</nav>

<form method="post" action="<%= site.route %>">
	<input type="hidden" name="_method" value="PUT" />

	<label>
		Name
		<input required="required" type="text" name="fn" value="<%= site.fn %>" />
	</label>
	<label>
		Remote
		<input required="required" type="text" name="remote" value="<%= site.remote %>" />
	</label>

	<button type="submit">Update</button>
</form>

<% unless ENV["SITE_PATH"] %>
	<section>
		<h1>Setup</h1>

		<p>Add access for this SSH public key to your remote:</p>
		<code><%= ENV.fetch('SSH_PUBLIC') %></code>

		<p>And add this script as a post-receive hook:</p>
		<pre><code><%= open('templates/post-receive').read.gsub(/http:\/\/localhost:9292\/1/, ENV.fetch('APP_URL') + "#{site.route}") %></code></pre>
	</section>
<% end %>
