<h1><%= site.fn %></h1>

<nav>
	<form method="post" action="<%= site.route("build") %>">
		<button type="submit">Sync &amp; Build</button>
	</form>

	<% if site.cloned? %>
		<ul>
			<li><a href="<%= site.route("files") %>">Edit Files</a></li>
		</ul>
	<% else %>
		<p>Please wait, we are syncing your remote...</p>
	<% end %>
</nav>

<% unless ENV["SITE_PATH"] %>
	<section>
		<h1>Setup</h1>

		<p>Add access for this SSH public key to your remote:</p>
		<code><%= ENV.fetch('SSH_PUBLIC') %></code>

		<p>And add this script as a post-receive hook:</p>
		<pre><code><%= open('templates/post-receive').read.gsub(/http:\/\/localhost:9292\/1/, ENV.fetch('APP_URL') + "#{site.route}") %></code></pre>
	</section>
<% end %>
